<!doctype html>
<html lang="en">
    <head>
        <title>WxChallenge Models</title>
        <style>
            
        </style>
    </head>
    <body style="font-family: Monaco;">
        {% block content %}{% endblock %}
    </body>
</html>
