<h3>
    Verification for {{ f_date }}
</h3>
<p>
    <strong>
        Valid as of: 
    </strong>
    {{ last_valid }}
</p>
<table>
    <thead>
        <tr>
            {% include 'forecast_table_headers.jinja' %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for item in ver %}
                <td>
                    {{ item }}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
